<ion-view view-title="Wemov'it"><img src="./img/wemovitpetit.png"/>
    <ion-content>
        <ion-list>
            <div>
                <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
                    <div class="item item-body" >
                        
                        {{user.name}}
                        

                    </div>
                </ion-item>



                
              
                
                
            </div>
            
        </ion-list>
    </ion-content>
</ion-view>
